.reference-canada-legal-sign-up {
    margin-bottom: spacings('m');
    [type='checkbox'] {
        margin-top: spacings('xxs') * 1.6;
        transform: scale(1.5);
        vertical-align: top;
    }

    label {
        left: -99999px;
        opacity: 0;
        position: absolute;
    }

    .corporate-opt-in-info {
        display: inline-block;
        margin-left: spacings('xs') * 1.2;
        width: calc(100% - 30px);
    }
}