$heroImageWithRichTextBelow: (
  //box: (),
  _text-wrapper: (
    box: (),
    _wrapper-content: (
      box: (
        background: (
          background-color: color('primary', 'lighter')
        )
      )
    )
  )
);
