@import '../../core/config';

.articleList-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: $gutter * -0.5;
  width: auto;
  padding: 0;
  list-style-type: none;

  &:before,
  &:after {
    content: normal;
  }
}

.articleList-article-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: $gutter * 0.5;

  > a {
    display: block;
    flex-shrink: 0; // IE workaround for rendering issue caused by image inside
  }
}

.articleList-title {
  order: 2;
}

.articleList-thumbnail {
  max-width: none;
  width: calc(100% + #{$gutter});
  margin: ($gutter * -0.5) ($gutter * -0.5) ($gutter * 0.5);
  order: 1;
}

.articleList-description {
  order: 3;
}

.articleList-more {
  position: relative;
  z-index: 2;
  order: 4
}

.articleList-more-arrow {
  display: none;
}
