@font-face {
  font-family: 'icons';
  src:
    url('../../assets/fonts/icons.woff?d6t94w') format('woff'),
    url('../../assets/fonts/icons.ttf?d6t94w') format('truetype'),
    url('../../assets/fonts/icons.svg?d6t94w#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

