$articleImages: (
  _main: (
    box: (),
    _image: (
      box: (),
    ),
    _video: (
      box: ()
    ),
    _caption: (
      paragraph: (
        text: (
          font-size: px('xxs'),
          line-height: 1.36
        )
      )
    )
  )
);
