$singleFeaturedArticle: (
  _outer-wrapper: (
    box: (),
  ),
  _article-content: (
    box: (),
    _text-wrapper: (
      box: (),
      _heading: (
        paragraph: (
          text: (
            font-size: breakpoint((tablet-max: px('m'), desktop: px('l'))),
            line-height: 1.16
          )
        )
      ),
      _description: (
        paragraph: (
          text: (
            line-height: 1.44
          )
        )
      )
    ),
    _image: (
      box: (
        width: breakpoint((tablet-max: 100%, desktop: 58%)),
        flex: (
          flex-shrink: breakpoint((desktop: 0))
        )
      )
    ),
    _cta: (
      button: ()
    )
  )
);
