@import '../../core/config';

.countryLanguageSelector {

}

.countrylanguageselector__mobile-menu,
.countrylanguageselector__select .countrylanguageselector__root {
  display: none;
}

.countrylanguageselector__root {
  list-style: none;
  margin: 0;
  padding: 0;
}

.countrylanguageselector__select {
  margin-bottom: spacings('s');
}
