.default-storelocator-complete {
  .storelocator-button-wrapper {
    width: 100%;
    text-align: center;
  }

  .storelocator-button {
    border-color: color('neutral', 'light');
  }

  @include respond-to(tablet-portrait) {
    .storelocator-form {
      padding-top: $gutter;
    }

    .storelocator-product-image {
      width: 320px;
      display: block;
      margin: 0 auto 10px;
    }
  }

  @include respond-to(desktop) {
    .storelocator-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: $gutter * 2;

      .storelocator-zipcode-wrapper,
      .storelocator-radius-wrapper {
        padding-left: $gutter * 0.5;
        width: percentage(1/4);
        margin: 0;
        box-sizing: border-box;
      }

      .storelocator-zipcode-wrapper {
        padding-left: 0;
        padding-right: $gutter * 0.5;
      }

      .storelocator-product-wrapper {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 50%;
        margin: 40px 5px 30px;
      }

      .storelocator-product-image {
        width: 200px;
        flex-shrink: 0;
      }

      .storelocator-product .storelocator-prefix {
        line-height: 1.15;
        margin-bottom: 0;
        font-size: 50px;
        // font-family: $font-family-serif;
      }

      .storelocator-select-product {
        margin-top: 15px;
        width: 50%;
      }
    }

    .storelocator-button-wrapper {
      border-top: 1px solid color('neutral', 'light');
      padding-top: 30px;
    }
  }
}
