$galleryWithZoom: (
  _zoom: (
    button: (
      background: (
        background-color: color('white')
      ),
      box-sizing: border-box,
      height: breakpoint((mobile: 47px, tablet-min: 59px)),
      width: breakpoint((mobile: 47px, tablet-min: 59px)),
      border: (
        border: solid 1px color('neutral', 'light'),
        border-radius: 50%
      ),
      text: (
        color: color('black'),
        font-family: 'primary',
        font-size: px(18),
        font-weight: bold,
        line-height: 1
      ),
      hover: (
        background: (
          background: color('neutral', 'light')
        ),
        text: (
          color: color('white')
        )
      ),
      focus: (
        background: (
          background: color('neutral', 'light')
        ),
        text: (
          color: color('white')
        )
      ),
      content: "zoom"
    ),
    _overlay: (
      background: (
        background: color('neutral', 'light')
      ),
      box: (position: 'fixed')
    )
  )
);
