.box-video-bg {
  position: relative;
  z-index: 1;
  overflow: hidden;

  video.box-video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }

  .component-content {
     z-index: -1;
     position: relative;
  }
}