$whereToBuyFilters: (
  spacings: common('spacings')
);

$whereToBuyFilters: merge($whereToBuyFilters, (
  _filters-form: (
    box: (
      display: flex,
      flex: (
        align-items: center,
        flex-wrap: wrap,
      ),
      margin: get($whereToBuyFilters, 'spacings.s') * -1,
    )
  ),
  _filter-wrapper: (
    box: (
      padding: (
        padding: get($whereToBuyFilters, 'spacings.s'),
      ),
      width: breakpoint(100%, 50%, 50%),
      box-sizing: border-box,
      margin: 0,
    ),
  ),
  _label: (
    paragraph: (
      text: (
        font-family: 'primary',
        font-size: breakpoint(px('xxs'), px(18), px(18)),
        line-height: breakpoint(1.57, 1.22, 1.22),
        font-weight: bold,
        text-transform: uppercase,
      ),
      margin: (
        margin-bottom: get($whereToBuyFilters, 'spacings.xs')
      )
    )
  ),
  _dropdown: (
    box:   (
      background: (
        background-color: color('white')
      ),
      border: (
        border-radius: 3px,
        border: 1px solid color('neutral', 'light'),
      ),
      padding: (
        padding: 0 42px 0 18px,
      ),
      width: 100%,
      height: 50px
    ),
    text: (
      font-size: px(17),
      color: color('neutral','dark'),
      line-height: px(50),
      font-weight: bold,
    ),
    icon: (
      content: common('icon.arrow-down'),
      font-size: 10px,
    ),
  )
));