// mobile filter button on search page

$cta-filter-mobile: (
  button: (
    background: (
      background-color: color('white'),
    ),
    border: (
      border: solid 1px color('neutral', 'light'),
      border-radius: 3px
    ),
    text: (
      font-family: 'body',
      font-size: px('xs'),
      color: breakpoint(
        color('neutral', 'dark'),
        color('black'),
        color('black')
      ),
      line-height: 1.38,
    ),
    icon: (
      content: common('icon.filter'),
      side: after,
      font-size: px(18px),
      color: color('black'),
      spacing: 5px,
      display: block,
      margin: (
        margin-right: 10px
      )
    )
  ),
);
