$mobile-buttons-and-sort-by-wrapper: (
  spacings: common('spacings')
);

$mobile-buttons-and-sort-by-wrapper: merge($mobile-buttons-and-sort-by-wrapper, (
  box: (
    background: (
      background: breakpoint((
        tablet-max: color('neutral', 'lighter'),
        desktop: transparent
      ))
    ),
    margin: (
      margin: breakpoint(
        0 -20px get($mobile-buttons-and-sort-by-wrapper, 'spacings.xl') -20px,
        0 0 get($mobile-buttons-and-sort-by-wrapper, 'spacings.xl') 0,
        0 0 get($mobile-buttons-and-sort-by-wrapper, 'spacings.xl') 0
      )
    ),
    padding: (
      padding: breakpoint(
        20px,
        0,
        0
      )
    )
  )
));
