$secondaryHeaderSection: (
  _main: (
    box: (),
    _wrapper: (
      box: (),
      _headline-item: (
        box: (),
        _button-secondary: (
          button: ()
        )
      )
    )
  )
);
