.composite-variation-single-featured-article-left {
  @import 'config';
  @function g($a...) {
    @return get-last($singleFeaturedArticleLeft, $a...);
  }

  .richText {
    $sideText: merge((
      padding: (
        padding-left: breakpoint((desktop: 95px))
      )
    ), g('_side-text.box'));

    @include breakpoints() {
      @include box($sideText, $media);
    }
  }
}