$nutrientsTitle: (
  box: (),
  paragraph: (
    text: (
      color: color('black'),
      font-weight: bold,
      text-transform: uppercase,
      line-height: 1.35,
      font-family: 'body',
      font-size: px('xxs')
    )
  )
);
