$read-panel: (
  text: (
    font-family: 'body'
  ),
  box: (),
  _average-block: (
    box: (
      background: (
        background-color: color('neutral', 'lighter')
      )
    ),
    _title: (
      text: (
        font-size: px('m'),
        font-weight: bold
      )
    ),
    _average-rating: (
      box: (),
      _rating: (
        box: ()
      ),
      _avg: (
        box: ()
      )
    ),
    _write-review: (
      button: extend('_base.button', (
        max-width: breakpoint(null, null, 180px),
        width: breakpoint(
          calc(100% - 40px),
          null,
          null
        ),
        margin: (
          margin: breakpoint(0 20px, 0 20px, null)
        ),
        height: 50px,
        padding: spacings('xs') spacings('m'),
        hover: (
          background: (
            background-color: color('neutral', 'dark')
          )
        )
      ))
    )
  )
);
