$common: () !default;

$common: merge(
  $common,
  (
    _base: (
      button: (
        justify-content: center,
        align-items: center,
        text: (
          font-size: px(18),
          line-height: 1.22,
          font-family: "body",
          text-decoration: none,
          text-transform: uppercase,
          color: color("white")
        ),
        border: (
          //border-radius: 5px,
          border: 0
        ),
        background: (
          background-color: color("black")
        ),
        hover: (
          transition: (
            speed: "base"
          )
        )
      )
    )
  )
);

$common: merge(
  $common,
  (
    _primary: (
      button:
        extend(
          "_base.button",
          (
            text: (
              color: color("white"),
              font-weight: bold,
              font-size: px(15)
            ),
            font-family: font-family("body"),
            background: (
              background-color: color("primary", "base")
            ),
            padding: common("spacings.s") common("spacings.m"),
            box-sizing: border-box,
            //box-shadow: 0 5px 15px 0 rgba(0, 169, 79, 0.4),
            border: (
              //border-radius: 5px
            ),
            hover: (
              background: (
                background-color: color("secondary", "base")
              )
            )
          )
        )
    ),
    _secondary: (
      button:
        extend(
          "_base.button",
          (
            margin: (
              // margin-top:
              //   breakpoint(
              //     (
              //       tablet-max: 25px,
              //       desktop: common("spacings.l")
              //     )
              //   )
            ),
            text: (
              color: color("white"),
              text-decoration: none,
              font-weight: bold,
              text-align: center,
              font-size: px(15)
            ),
            font-family: font-family("body"),
            background: (
              background-color: color("primary", "base")
            ),
            padding: common("spacings.s"),
            box-sizing: border-box,
            border: (
              //border-radius: 5px
            ),
            //box-shadow: 0 5px 15px 0 rgba(0, 169, 79, 0.4),
            hover: (
              background: (
                background-color: color("secondary", "base")
              ),
              text: (
                color: color("white")
              )
            )
          )
        )
    ),
    _tertiary: (
      button:
        extend(
          "_base.button",
          (
            width:
              breakpoint(
                (
                  mobile: 100%,
                  tablet-min: auto
                )
              ),
            text: (
              font-size: px(18),
              font-weight: bold,
              color: color("primary", "base"),
              text-decoration: none
            ),
            margin: (
              margin-top: 20px,
              margin-bottom: 20px,
            ),
            border: (
              border: 1px solid color("primary", "base")
            ),
            box-sizing: border-box,
            height: 52px,
            min-width:
              breakpoint(
                (
                  mobile: 215px,
                  tablet-min: 255px
                )
              ),
            padding: common("spacings.s") common("spacings.xl"),
            background: (
              background-color: color("white")
            ),
            hover: (
              background: (
                background-color: rgba(color("neutral", "light"), 0.2)
              )
            )
          )
        )
    ),
    _close-button: (
      button: (
        background: (
          background-color: color("black")
        ),
        border: (
          border-radius: 50%,
          border: 1px solid color("black")
        ),
        icon: (
          content: common("icon.cross-small"),
          font-size: 10px,
          color: color("white"),
          height: 30px,
          width: 30px,
          hover: (
            color: color("black")
          )
        ),
        hover: (
          background: color("white")
        )
      )
    ),
    _view-all: (
      button: (
        text: (
          font-family: primary,
          font-size: px(18),
          font-weight: bold,
          line-height: px(30),
          text-decoration: none,
          text-transform: uppercase
        ),
        border: (
          border: solid 1px color("neutral", "light"),
          border-radius: 3px
        ),
        cursor: pointer,
        height: 30px,
        padding: 0 10px,
        hover: (
          background: (
            background-color: rgba(color("neutral", "light"), 0.2)
          )
        )
      )
    )
  )
);
