@include local-spacings();

$ratings-and-reviews: (
  _star: (
    text: (
      font-size: px('s'),
      letter-spacing: 3px
    )
  ),
  _star-on: (
    text: (
      color: color('black')
    )
  ),
  _star-off: (
    text: (
      color: color('neutral', 'light')
    )
  )
);
